* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background: url(videos/videomp4) no-repeat;
    background-size: cover; 
}

  
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    background:green;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5px;
}

nav ul li {
    padding: 1% 0;
    margin: 0 2%;
    width: 25%;
    text-align: center;}

    nav ul li a {
        color:black;
        text-decoration:none;  }

        nav ul li a:hover {
            text-decoration:underline;
            text-shadow: 1px 1px 1px #999;
        }